*.csv
.DS_Store
.DS_Store
.idea/csv-plugin.xml
csv/movie_info_create.py
csv/new_movie_info_create.py
credential/credentials.csv
credential/personal_info.js
movie_info_new_create.py
csv/movie_info_create.py